.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: skyblue;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
