@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 50px;
}

h1 {
  margin: 8px 0;
  font-size: 25px;
}
h2 {
  margin: 10px 0;
  font-size: 20px;
}
input {
  width: 200px;
  max-width: 250px;
}
input:is(:hover, :focus) {
  border: 2px solid rgb(116, 167, 225);
}
button:is(:hover, :focus) {
  background-color: rgb(58, 147, 250);
  border-radius: 5px;
}
ul {
  /* list-style: none; */
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: skyblue;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  border-color: rgb(216, 216, 216);
}
